.upload-container {
    width: 400px;
    margin: 20px auto;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .dropzone {
    border: 2px dashed #007bff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    background-color: #F4FDFF;   
    transition: background-color 0.3s ease;
    display: flex;
    flex-grow: 1;
    border-radius:5px;
    height: 100px;
  }
  
  .dropzone:hover {
    background-color: #f0f8ff;
  }
  
  .preview-image {
    max-height: 100px;
    margin-right: 10px;
  }
  
  .upload-button {
    height: 100px;
    width: 100px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .upload-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }